body,html{

  }

  .searchbar{
  margin-left: 39%;
  width: 27%;
  margin-block: 1%;
  height: 40px;
  background-color: #eee;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 100px;
  caret-color:black;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: #eee;
  color: black;
  }

  .search_icon{
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:black;
  text-decoration:none;
  }