
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
}


<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-0">Dashboard - VLU</h5>
        </div>
        <div class="page-breadcrumb">
            <div class="row">

                <div class="col-12 d-flex no-block align-items-center">
                

                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Dashboard
                                    </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-6">
        <figure class="highcharts-figure text-center">
            <div id="ChartStudentAndAdvisor"></div>
            <p class="highcharts-description">
                Tổng số sinh viên và cố vấn học tập
            </p>
        </figure>
    </div>
    <div class="col-6 text-center">
        <figure class="highcharts-figure">
            <div id="FileManager"></div>
            <p class="highcharts-description">
                Tổng minh chứng của cố vấn
            </p>
        </figure>
    </div>
    <div class="col-6 text-center">
        <figure class="highcharts-figure">
            <div id="chartClass"></div>
            <p class="highcharts-description">
                Tổng lớp cố vấn nhận trong hệ thống
            </p>
        </figure>
    </div>
</div>


