* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f5f7ff;
}

/* Login */
.wrap {
  background: url('../../../images/TuyenLogin.jpg') no-repeat center/ cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 40rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  animation: loading 0.5s linear 0s 1 alternate forwards;
  will-change: opacity;
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login-heading {
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  margin: 0 2rem 2rem;
  letter-spacing: 0.01rem;
  color: #1F2251;
}

.login-image {
  width: 35rem;
  height: 30rem;
  background: url('../images/HR.gif') no-repeat center / contain;
  border-radius: 1rem;
  margin: auto;
}

.login-content {
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  color: #1f2251;
}

.login-button {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  background-color: #d72134;
  color: #fff;
  margin-top: 1rem;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 #fff;
  transition: all 0.2s linear;
  will-change: box-shadow;
}

.login-button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(215, 33, 52, 0.5);
}

@media screen and (max-width: 780px) {
  .login {
    max-width: 30rem;
    padding: 1.5rem;
  }

  .login-heading {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .login-image {
    width: 28rem;
    height: 25rem;
  }

  .login-content {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1367px) {
  .login {
    max-width: 50rem;
  }

  .login-heading {
    font-size: 2.8rem;
  }

  .login-image {
    width: 40rem;
  }

  .login-content {
    font-size: 1.6rem;
  }
}


/* info */
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 40rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  animation: loading 0.5s linear 0s 1 alternate forwards;
  will-change: opacity;
}

.info-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #1f2251;
  text-align: center;
}

.info-group {
  display: flex;
  flex-direction: column;
}

.info-group:last-child {
  position: relative;
}

.info-group:not(:first-child) {
  margin-top: 1.5rem;
}

.info-label {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #1f2251;
}

.info-input {
  width: 100%;
  font-size: 1.4rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans', sans-serif;
  outline: none;
  padding: 1rem 1rem;
}

.info-button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  background-color: #d72134;
  color: #fff;
  margin-top: 0.5rem;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 #fff;
  transition: all 0.2s linear;
  will-change: box-shadow;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.1rem;
}

.info-button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(215, 33, 52, 0.5);
}

@media screen and (max-width: 479px) {
  .info {
    max-width: 30rem;
  }
}