
@{
    ViewBag.Title = "Chi tiết lớp";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
}

<div class="container-fluid">


    <div class="row">
        <div class="col-12">
   

            <div class="card">
   
                <div class="form-group row card-body">
                    <div class=" text-center col-6">
                        <div class="my-5">
                            <h3>Hiện tại bạn chưa thuộc lớp nào trên hệ thống</h3>

                        </div>
                   


                    </div>
                    <div class="col-1"></div>
                    <div class="col-5 text-right ml-5">

                        <img src="~/Images/tester.png" alt="profile"
                             class=" img-responsive mt-5 img-fit-cover img-fluid" style="">
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
