
@{
    ViewBag.Title = "ReportClass";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    var id_class = (int)Session["id_class"];
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Báo cáo cuối học kì</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row ">
                        <div class="col-12 d-flex no-block align-items-center  my-2">
                            <a onclick="ExportTemplate()" class="btn btn-success" style=" margin-left: 5px; width: 150px; color: white">
                                Export template <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">
                        <div>
                            Xếp loại đánh giá báo cáo: 
                        
                        </div>
                        <div>
                            Bảng kế hoạch: 
                        </div>
                    </h5>
                    <div style="margin-top:10px">

                    </div>

                    <div class="table-responsive" style="margin-top:10px">
                        <table width="100%" id="zero_config_admin" class="table table-striped table-bordered" role="grid" aria-describedby="zero_config_info">
                            <thead>
                                <tr>
                                    <th style="text-align:center">STT</th>
                                    <th style="text-align:center">Mô tả công việc cụ thể</th>
                                    <th style="text-align:center">Tài nguyên chuẩn bị yêu cầu</th>
                                    <th style="text-align:center">Hồ sơ, minh chứng</th>
                                    <th style="text-align:center">Tiêu chí đánh giá</th>
                                    <th style="text-align:center">Trang thái</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.js"></script>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
<script>

     //Lấy data khi vừa vào web admin
    var dataTable = $("#zero_config_admin").DataTable({
         'ajax': {
                'url': '@Url.Action("GetReportClass", "EReportTerm")',
                'data': function (d) {
                     d.id_class = @id_class ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'number_title', 'width': '0%' },
                 { 'data': 'describe', 'width': '25%' },
                 { 'data': 'source', 'width': '25%' },
                 { 'data': 'group_file', 'width': '20%' },
                 { 'data': 'note', 'width': '10%' },
                 { 'data': 'status', 'width': '10%' },

                 ],
             'bAutoWidth': false,
             'responsive': false,
             'ordering': false,
             'rowsGroup': [0,2],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Showing 0 to 0 of 0 entries",
                 "infoFiltered": "(filtered from _MAX_ total entries)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "No matching records found",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             },

    });
            function ExportTemplate() {
            input = document.getElementById("semester");
            let id = 2023;
            $.ajax({
                url: '@Url.Action("ExportTemplateCode", "EReportTerm")',
                type: 'POST',
                data: {
                    year: id,
                    id_class : @id_class

                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    var bytes = new Uint8Array(data.FileContents);
                    var blob = new Blob([bytes], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.href = downloadUrl;
                    a.download = data.FileDownloadName;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
                error: function (err) {
                    alert(err);
                },
            })
        }
    //$(document).ready(function () {


    //});
            //Export template
    console.log(dataTable);
</script>
