
@{

}

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link href="~/Dist/css/icons/font-awesome/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Dist/css/icons/font-awesome/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link href="~/Dist/css/icons/font-awesome/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Dist/js/bootstrap.min.js"></script>
    <script src="~/Dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Dist/css/icons/font-awesome/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <style>


        html,
        body {
            background-image: url('../assets/images/bglogin.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        .container {
            height: 100%;
            align-content: center;
        }

        .card {
            height: 370px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0, 0, 0, 0.5) !important;
        }

        .social_icon span {
            font-size: 60px;
            margin-left: 10px;
            color: #FFC312;
        }

            .social_icon span:hover {
                color: white;
                cursor: pointer;
            }

        .card-header h3 {
            color: white;
        }

        .social_icon {
            position: absolute;
            right: 20px;
            top: -45px;
        }

        .input-group-prepend span {
            width: 50px;
            background-color: #FFC312;
            color: black;
            border: 0 !important;
        }

        input:focus {
            outline: 0 0 0 0 !important;
            box-shadow: 0 0 0 0 !important;
        }

        .login_btn {
            color: white;
            background-color: red;
            width: 200px;
            height: 50px;
            margin-right: 80px;
            margin-bottom: 100x;
        }

            .login_btn:hover {
                color: black;
                background-color: rgb(247, 160, 0);
            }

        .links {
            color: white;
        }

            .links a {
                margin-left: 4px;
            }
    </style>
</head>

<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <div class="form-logo" style="text-align: center;">

                        <img src="~/Assets/images/Logo2022.png" class="form-logo-link" alt="Logo"
                             style="size: 10%; width: 120px;">
                    </div>
                    <h5 style="text-align: center ;color:white; margin-top: 10px;">TRƯỜNG ĐẠI HỌC VĂN LANG</h5>
                    <h6 style="text-align: center ;color:white;">Cổng thông tin đào tạo</h6>

                </div>
                <div class="card-body">
                    <form>

                        <div class="form-group">
                            <input type="submit" value="Đăng nhập" class="btn float-right login_btn">
                        </div>


                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        <h6>Đạo đức - Ý chí - Sáng tạo </h>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
@RenderBody()
</html>
