@model AdvisorManagement.Models.RoleMenu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";

}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Phân quyền theo menu</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">

                        <div class="col-12 d-flex no-block align-items-center">


                            <div class="ms-auto text-end">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                Library
                                            </li>*@
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Xóa menu  phân quyền của người dùng</h5>
                    <div class="container">
                        <div class="row flex-lg-nowrap">
                            <div class="col">
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="e-profile">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-auto mb-3">
                                                            <div class="mx-auto" style="width: 140px;">

                                                            </div>
                                                        </div>
                                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                            <div class="text-center text-sm-left mb-2 mb-sm-0">

                                                                <div class="mt-2">

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="tab-content pt-3">
                                                        <div class="tab-pane active">
                                                            <form class="form" novalidate="">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Tên Menu: </label>
                                                                                    @Html.DisplayFor(model => model.Menu.menu_name)
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            @*<div class="col">
                                                                                    <div class="form-group">
                                                                                        <label>Ngày sinh</label>
                                                                                        <input class="form-control" type="text" name="dateofbirth" placeholder="" value="@Model.dateofbirth">
                                                                                    </div>
                                                                                </div>*@
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Người dùng: </label>
                                                                                    @Html.DisplayFor(model => model.Role.role_name)
                                                                                </div>
                                                                            </div>


                                                                        </div>


                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <a href="@Url.Action("Index", "RoleMenus")" class="btn btn-primary" style="margin-right : 70%;width: 100px;">
                                                                            Quay lại
                                                                        </a>
                                                                    </div>
                                                                    <div class="col d-flex justify-content-end">
                                                                        <input type="submit" value="Xóa" class="btn btn-primary" style="margin-right : 70%;width: 100px;" />
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    