@model AdvisorManagement.Models.RoleMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";

}

<h2>Chi tiết quyền của người dùng</h2>

<div>
    <h4>Quyền menu người dùng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.menu_name)
        </dd>

        <dt>
           Người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.role_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại trang", "Index")
</p>
