@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>
        <table width="100%" class="table table-bordered table-striped table-responsive">

            <div class="card-body p-3">
                <div class="card-text content mt-3">
                    <ul class="unlist">
                        <li class="r0"><div class="column c1"><a title="DTH0130-16T0788-HK202" href="#" style="color: black"><i class="icon fa fa-graduation-cap fa-fw " title="Course" aria-label="Course"></i>KHOA CÔNG NGHỆ THÔNG TIN</a></div></li>
                        <li class="r1"><div class="column c1"><a title="DPL0051-2001100761-HK212" href="#" style="color: black"><i class="icon fa fa-graduation-cap fa-fw " title="Course" aria-label="Course"></i>KHOA KỸ THUẬT PHẦN MỀM</a></div></li>
                </div>

            </div>

        </table>
    </div>
</div>
